#footer .col-12 {
  font-family: GothamLight;
  font-size: 12px;
  color: #1c303b;
}

#footer i.fa-facebook-official,
#footer i.fa-youtube-play {
  font-size: 30px;
  cursor: pointer;
  color: #1c303b;
}

#footer i.fa-facebook-official:hover {
  color: #3b5998;
}

#footer i.fa-youtube-play:hover {
  color: red;
}
