<div id="menu" class="container-fluid">
  <nav class="navbar navbar-toggleable-md col-sm-10 offset-sm-1">
    <button id="btn-menu" class="navbar-toggler navbar-toggler-right p-3 my-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars color-b" aria-hidden="true"></i>
      </button>
    <a id="logo" class="navbar-brand py-4" href="#">
      <img src="assets/img/icons/logo.svg">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link py-3 px-4" href="#SOBRE">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-4" href="#SOLUÇÕES">SOLUÇÕES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-4" href="#PROJETOS">PROJETOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-4" href="#WIQUADRO">WIQUADRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-4" href="#CONTATO">CONTATO</a>
          </li>
          <li class="nav-item">
            <button class="btn-outline-success my-2 my-sm-0 py-3 px-4 d-inline" type="submit">ÁREA DO ALUNO</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>