<div id="menu" class="container-fluid px-0">
  <nav class="navbar navbar-toggleable-md col-lg-10 offset-lg-1 py-0 px-0">
    <button id="btn-menu" class="navbar-toggler navbar-toggler-right p-3 my-3 mt-4" type="button" data-toggle="collapse" data-target="#navbar-menu"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars color-b" aria-hidden="true"></i>
    </button>
    <a id="logo" class="navbar-brand py-4 px-3 mt-2 ml-2" routerLink="/">
      <img src="assets/img/icons/logo.svg">
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="mr-auto"></div>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link linear" pageScroll href="#sobre">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linear" pageScroll href="#produtos">SOLUÇÕES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linear" pageScroll routerLink="/">PROJETOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linear" href="https://wiquadro.com.br" target="_blank">WIQUADRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linear" pageScroll href="#interessado">CONTATO</a>
          </li>
          <li class="nav-item not">
            <a href="http://geralearning.wilivro.com.br/" target="_blank">
              <button class="btn-outline-success my-2 my-sm-0 py-3 px-4 d-inline linear" type="submit">ÁREA DO ALUNO</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
