#projetos {
  padding-top: 115px;
  background: #1c303b;
  background: url("/assets/img/projetos/topo.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 380px;
}

#projetos div.text-center {
  font-size: 21px;
  font-family: GothamLight;
  padding: 20px;
}

#projetos>div.container-fluid {
  color: var(--branca);
}

.projeto-tema p {
  font-size: 19px;
  font-family: GothamLight;
}

.projeto-tema {
  background: #1c303b;
  background-size: cover;
  background-position: 100% 50%;
  min-height: 380px;
  color: var(--branca);
}

.projeto-tema img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.projeto-tema h1 {
  color: #cb613f;
  padding: 5px;
  border: 1px solid #cb613f;
  border-radius: 2px;
  display: table;
  font-family: GothamBold;
}

.projeto {
  padding: 20px 15px;
}

.projeto img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  transition: ease 0.5s all;
}

.projeto .d-flex:hover {
  cursor: pointer;
}

.projeto .d-flex:hover img {
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
}

.projeto .carousel-control-prev span,
.projeto .carousel-control-next span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-size: 50% 50%;
}

.projeto .carousel-control-prev span {
  background-position: 12px;
}

.projeto .carousel-control-next span {
  background-position: 14px;
}

.projeto h4 {
  font-size: 17px;
  font-family: GothamBold;
  margin-bottom: 5px;
}

.projeto h5 {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: OpenSans;
}
