<div id="ct-video">
  <video autoplay loop id="bg-vid">
    <source src="assets/media/home.mp4" type="video/mp4">
    <source src="assets/media/home.webm" type="video/webm">
  </video>
  <div class="shadow"></div>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center ">
      <h1>Transforme a educação</h1>
      <p class="col-10 text-center">Conheça as soluções da Wilivro e junte-se as organizações que já estão inovando a educação com o uso da tecnologia</p>
    </div>
  </div>
</div>

<section id="sobre">
  <div class="container-fluid px-0">
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">

      <div class="col-12 text-center b-title">
        <h1 class="py-5 px-5 title d-inline-table">SOBRE</h1>
      </div>

      <img class="my-4" src="assets/img/icons/sobre.png" alt="">
      <p class="col-10 col-sm-10 col-md-8 col-lg-6 text-center mb-5">
        Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a consulta aos diversos militantes acarreta um
        processo de reformulação e modernização dos níveis de motivação departamental. Uma vez que a consulta aos diversos
        militantes acarreta um processo de reformulação.
      </p>
    </div>
  </div>
</section>

<section id="produtos">
  <div class="container-fluid px-0">
    <div class="col-12 text-center b-title">
      <h1 class="py-5 px-5 my-0 d-inline-table title">NOSSOS PRODUTOS</h1>
    </div>
    <div id="produto1">
      <div class="c-parallax col-lg-4 offset-lg-2">
        <h4>PLATAFORMA DE ENSINO PERSONALIZADO</h4>
        <p>
          Uma vez que a consulta aos diversos militantes acarreta um processo de reformulação e modernização dos níveis de motivação
          departamental. uma vez que a consulta aos diversos militantes acarreta um processo de reformulação.
        </p>
        <button class="btn">SAIBA MAIS</button>
      </div>
    </div>

    <div id="produto2">
      <div class="c-parallax col-lg-4 offset-lg-2">
        <h4>CURSOS ON-LINE</h4>
        <p>
          Uma vez que a consulta aos diversos militantes acarreta um processo de reformulação e modernização dos níveis de motivação
          departamental. Uma vez que a consulta aos diversos militantes acarreta um processo de reformulação.
        </p>
        <button class="btn">SAIBA MAIS</button>
      </div>
    </div>

    <div id="produto3">
      <div class="c-parallax col-lg-4 offset-lg-2">
        <h4>GAMES</h4>
        <p>
          Uma vez que a consulta aos diversos militantes acarreta um processo de reformulação e modernização dos níveis de motivação
          departamental. Uma vez que a consulta aos diversos militantes acarreta um processo de reformulação.
        </p>
        <button class="btn">SAIBA MAIS</button>
      </div>
    </div>


  </div>
</section>

<section id="resultado">
  <div class="container-fluid px-0">

    <div class="col-12 text-center b-title">
      <h1 class="py-5 px-5 my-0 d-inline-table title">RESULTADOS</h1>
    </div>

    <div id="resultados" class="col-12 px-0 pt-4 pb-5">
      <div class="col-12 col-sm-4 px-0 d-inline-flex flex-column justify-content-center align-items-center">
        <div>
          <span class="plus">+</span>
          <span class="cont" data-jump="500" data-speed="0.1" data-total="200000" data-inicial="0">0</span>
        </div>
        <div class="object">alunos alcançados</div>
      </div>

      <div class="col-12 col-sm-4 px-0 d-inline-flex flex-column justify-content-center align-items-center">
        <div>
          <span class="plus">+</span>
          <span class="cont" data-jump="5" data-speed="1" data-total="1735" data-inicial="0">0</span>
        </div>
        <div class="object">escolas</div>
      </div>

      <div class="col-12 col-sm-4 px-0 d-inline-flex flex-column justify-content-center align-items-center">
        <div>
          <span class="plus">+</span>
          <span class="cont" data-jump="2" data-speed="1" data-total="450" data-inicial="0">0</span>
        </div>
        <div class="object">municípios</div>
      </div>

    </div>
  </div>
</section>

<section id="clientes">
  <div class="container-fluid px-0">

    <div class="col-12 text-center b-title">
      <h1 class="py-5 px-5 my-0 d-inline-table title">CLIENTES</h1>
    </div>

    <div class="owl-carousel owl-theme">
      <div *ngFor="let image of images" class="item">
        <img class="px-3" src="{{image}}" alt="">
      </div>
    </div>

  </div>
</section>

<section id="interessado" class="pb-5">
  <div class="container-fluid px-0">

    <div class="col-12 text-center b-title">
      <h1 class="py-5 px-md-5 my-0 d-inline-table title">INTERESSADO(A)?</h1>
    </div>
    <div class="col-12 text-center">
      <p>Vamos adorar falar com você</p>
    </div>

    <div class="container">
      <form class="col-12" id="contato" action="http://formspree.io/wilivro@wilivro.com.br" method="post">

        <div class="row mb-0 pb-0">
          <div class="col-12 col-md-6 px-2">
            <div class="col-12 px-0">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <input name="nome" type="text" class="form-control" placeholder="Nome" required>
              </div>
            </div>
            <div class="col-12 px-0">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <input name="email" type="text" class="form-control" placeholder="E-mail" required>
              </div>
            </div>
            <div class="col-12 px-0">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <input name="telefone" type="number" class="form-control" placeholder="Telefone" required>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 px-2">
            <div class="form-group">
              <textarea name="mensagem" class="form-control" placeholder="Digite aqui o seu texto" rows="5" required></textarea>
              <button type="submit" class="btn">ENVIAR</button>
            </div>
          </div>
          <div class="col-12 text-center px-2">
            <div id="msgForm"></div>
          </div>
        </div>

      </form>
    </div>

  </div>
</section>

<section id="wilivro">
  <div class="row col-12 mx-0 px-0">
    <div class="btn unit active col-12 col-md-6" (mouseenter)="ngClickRJ($event)">
      <h1>RJ</h1>
      <p>
        Av. Afrânio de Melo Franco, 333
        <br/>Quintandinha - Petrópolis - RJ - Brasil
        <br/>+55 24 2248-7384
        <br/>contato@wilivro.com.br
      </p>
    </div>
    <div class="btn unit col-12 col-md-6" (mouseenter)="ngClickRN($event)">
      <h1>RN</h1>
      <p>
        Rua Coronel José Guimarães, 136
        <br/>Lagoa Nova - Natal - RN - Brasil
        <br/>+55 84 3206-0243
        <br/>contato@wilivro.com.br
      </p>
    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [scrollwheel]="scrollwheel" [zoom]="zoom" [styles]="styles">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl"></agm-marker>
  </agm-map>
</section>
