/* CORES */

.c-w {
  color: #fff;
}

/*posição do video*/

#ct-video {
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 730px;
  z-index: -1;
}

#ct-video .container {
  height: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#ct-video .container h1 {
  font-family: GothamXLight;
  font-size: 70px;
  text-align: center;
}

#ct-video .container div p {
  font-family: GothamLight;
  font-size: 24px;
}

video#bg-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 190, 0, 0.35);
  top: 0;
  left: 0;
  z-index: -100;
}

/* Section Sobre */

#sobre h1 {
  color: #1c303b;
}

#sobre p {
  font-family: OpenSansLight;
  font-size: 22px;
  color: #1c303b;
}

#sobre img {
  width: 115px;
}

/* section Produtos */

#produtos .container-fluid {
  background-color: #3da490;
}

#produtos h4 {
  color: #e6b653;
  --laranja: #fdc00f;
  font-family: GothamBold;
}

#produtos p {
  font-family: OpenSansLight;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
}

#produtos button {
  padding: 15px 50px;
  background-color: #fdc00f;
  border-bottom: 3px solid #d7a30d;
  color: #1c303b;
  font-family: OpenSansBold;
  cursor: pointer;
}

#produtos button:hover {
  background-color: #f4b500;
  border-bottom: 3px solid #fdc00f;
}

#produtos button.off {
  cursor: not-allowed;
}

.c-parallax {
  position: relative;
  box-sizing: border-box;
  transform-style: inherit;
}

/* Section Resultado */

#resultado {
  background: #1c303b;
  background: url("../../assets/img/criancas.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  height: auto;
}

#resultado div.col-12,
#resultado div.col-sm-4 {
  color: #e6b653;
  height: auto;
  margin-left: -3px;
}

#resultado span.plus {
  color: #fdc00f;
  font-family: OpenSansLight;
}

#resultado span.cont {
  color: #fff;
  font-family: OpenSansBold;
}

#resultado div.object {
  font-family: OpenSansLight;
}

/* Section Clientes */

#clientes {
  background: #E7E6E3;
}

#clientes h1 {
  color: #1c303b;
}

#clientes .owl-item,
#clientes .owl-carousel.owl-loaded {
  height: 150px;
}

#clientes .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#clientes .owl-item:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#clientes .owl-dots {
  margin-top: -20px;
}

/* Section Interessado */

#interessado {
  background: rgb(204, 53, 53);
  background: -moz-linear-gradient(left, rgba(204, 53, 53, 1) 0%, rgba(212, 110, 110, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(204, 53, 53, 1) 0%, rgba(212, 110, 110, 1) 100%);
  background: linear-gradient(to right, rgba(204, 53, 53, 1) 0%, rgba(212, 110, 110, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3535', endColorstr='#d46e6e', GradientType=1);
}

#interessado p {
  margin: 50px 0;
  font-size: 22px;
  color: #fff;
  font-family: GothamLight;
}

#interessado .input-group {
  padding-bottom: 10px;
}

#interessado .input-group-addon .fa {
  font-size: 30px;
}

#interessado .input-group-addon {
  height: auto;
  background: rgba(255, 255, 255, .75);
  color: #828282;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  border-right: none !important;
}

#interessado .input-group-addon:nth-of-type(1) {
  width: 56px;
  height: 58px;
}

#interessado .input-group-addon.bars {
  width: 65px;
}

#interessado input,
#interessado select {
  height: 58px;
  color: #636c72;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  border-left: none !important;
  font-family: GothamLight;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: rgba(255, 255, 255, .75);
}

#interessado textarea {
  color: #828282;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  font-family: GothamLight;
  background: rgba(255, 255, 255, .75);
  height: 126px;
}

#interessado button {
  background-color: #fdc00f;
  border-bottom: 3px solid #d7a30d;
  color: #1c303b;
  cursor: pointer;
  font-family: GothamBold;
  width: 100%;
  padding: 15px 0;
  height: 58px;
  margin-top: 10px;
}

#interessado button:hover {
  background-color: #f4b500;
  border-bottom: 3px solid #fdc00f;
}

#interessado button.off {
  cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Section Wilivro mapa */

agm-map {
  height: 400px;
}

#wilivro {
  overflow: hidden;
}

#wilivro .teste {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 1;
}

#wilivro .btn {
  z-index: 12;
  height: 150px;
  background: #ebc77b;
  border-radius: 0;
  cursor: pointer;
}

#wilivro .btn.active {
  background: #e6b653;
}

#wilivro>.row>.btn:nth-of-type(1) {
  border-right: 2px solid #e7e6e3;
}

#wilivro .btn p {
  font-family: GothamLight;
}

.title {
  font-family: GothamXLight;
  color: #fff;
}

/* Section Resultado Todas Resoluções */

#resultados>div {
  margin-top: 40px;
}

#resultado span.cont {
  color: #fff;
  font-size: 80px;
  height: 80px;
  font-family: OpenSansBold;
}

/* CSS Smartphones */

@media (max-width: 992px) {
  #ct-video {
    background: url("../../assets/img/mob.png") no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
  #bg-vid {
    display: none;
  }
  #ct-video .container h1 {
    text-align: center;
    font-family: GothamXLight;
    font-size: 45px;
  }
  #ct-video .container div p {
    font-family: GothamLight;
    font-size: 20px;
  }
  /* Section Produtos */
  #produtos h1 {
    font-size: 33px;
    margin-bottom: 50px;
  }
  #produto2 {
    border-top: 2px solid #46b29d;
    border-bottom: 2px solid #46b29d;
  }
  .c-parallax {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    padding: 10%;
    text-align: center;
  }
  /* Section Resultado */
  #resultado h1 {
    font-size: 30px;
  }
  #resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #resultado div.object {
    font-size: 20px;
  }
  /* Section Interessado */
  #interessado h1 {
    font-size: 30px;
  }
  .b-title {
    border-bottom: 2px solid #e6b653;
  }
  #wilivro>.row>.btn:nth-of-type(1) {
    border: none;
    border-bottom: 2px solid #e7e6e3;
  }
  /* Final CSS Smartphones */
}

@media (min-width: 993px) {
  #produto1,
  #produto2,
  #produto3 {
    position: relative;
    height: 505px;
    padding: 150px 0;
  }
  #produto1 {
    background: url("../../assets/img/tablet1.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-color: #3da490;
  }
  #produto2 {
    background: url("../../assets/img/tablet2.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    border-top: 2px solid #46b29d;
    border-bottom: 2px solid #46b29d;
    background-color: #3da490;
  }
  #produto3 {
    background: url("../../assets/img/tablet3.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-color: #3da490;
  }
  /* Section Resultado */
  #resultado div.col-4 {
    color: #e6b653;
    height: 308px;
    margin-left: -3px;
  }
  #resultado span.plus {
    color: #fdc00f;
    font-size: 80px;
    font-family: OpenSansLight;
  }
  #resultado div.object {
    font-family: OpenSansLight;
    font-size: 28px;
  }
  .c-parallax {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .title {
    border-bottom: 2px solid #e6b653;
  }
}
