:root {
  --branca: #ffffff;
  --cinza-escuro: #1c303b;
  --laranja-claro: #e6b653;
  --laranja: #fdc00f;
  --laranja-escuro: #d7a30d;
  --verde: #46b29d;
  --verde-escuro: #3da490;
}


/*posição do video*/

#ct-video {
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 730px;
  z-index: -1;
}

#ct-video .container {
  height: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branca);
}

#ct-video .container h1 {
  font-family: GothamXLight;
  font-size: 78px;
}

#ct-video .container div p {
  font-family: GothamLight;
  font-size: 24px;
}

video#bg-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 190, 0, 0.35);
  top: 0;
  left: 0;
  z-index: -100;
}


/* Section Sobre */

#sobre h1 {
  color: var(--cinza-escuro);
}

#sobre p {
  font-family: OpenSansLight;
  font-size: 22px;
  color: var(--cinza-escuro);
}


/* section Produtos */

#produtos .container-fluid {
  background-color: var(--verde-escuro);
}

#produtos h4 {
  color: var(--laranja-claro);
  --laranja: #fdc00f;
  font-family: GothamBold;
}

#produtos p {
  font-family: OpenSansLight;
  font-size: 19px;
  font-weight: 100;
  color: var(--branca);
}

#produtos button {
  padding: 15px 50px;
  background-color: var(--laranja);
  border-bottom: 3px solid var(--laranja-escuro);
  color: var(--cinza-escuro);
  font-family: OpenSansBold;
  cursor: pointer;
}

#produtos button:hover {
  background-color: #f4b500;
  border-bottom: 3px solid var(--laranja);
}

.c-parallax {
  position: relative;
  box-sizing: border-box;
  transform-style: inherit;
}


/* Section Resultado */

#resultado {
  background: var(--cinza-escuro);
  background: url("../../assets/img/criancas.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  height: auto;
}

#resultado div.col-12,
#resultado div.col-sm-4 {
  color: var(--laranja-claro);
  height: auto;
  margin-left: -3px;
}

#resultado span.plus {
  color: var(--laranja);
  font-family: OpenSansLight;
}

#resultado span.cont {
  color: var(--branca);
  font-family: OpenSansBold;
}

#resultado div.object {
  font-family: OpenSansLight;
}


/* Section Clientes */

#clientes {
  background: var(--verde);
}

#clientes h1 {
  color: var(--cinza-escuro);
}

#carouselClientes {
  height: 300px;
}

#carouselClientes img.cliente {
  width: 100%;
}

.ct-clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.carousel-inner {
  height: 100%;
}

.title {
  font-family: GothamXLight;
  color: var(--branca);
}

.espaco {
  height: 1000px;
}


/* CSS Smartphones */

@media (max-width: 992px) {
  #ct-video {
    background: url("../../assets/img/mob.png") no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
  #bg-vid {
    display: none;
  }
  #ct-video .container h1 {
    text-align: center;
    font-family: GothamXLight;
    font-size: 50px;
  }
  #ct-video .container div p {
    font-family: GothamLight;
    font-size: 20px;
  }
  /* Section Produtos */
  #produtos h1 {
    font-size: 33px;
    margin-bottom: 50px;
  }
  #produto2 {
    border-top: 2px solid var(--verde);
    border-bottom: 2px solid var(--verde);
  }
  .c-parallax {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    padding: 10%;
    text-align: center;
  }
  /* Section Resultado */
  #resultado h1 {
    font-size: 30px;
  }
  #resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #resultado span.plus {
    font-size: 60px;
  }
  #resultado span.cont {
    font-size: 60px;
  }
  #resultado div.object {
    font-size: 20px;
    margin-top: -20px;
    margin-left: 35px;
  }
  .b-title {
    border-bottom: 2px solid var(--laranja-claro);
  }
  /* Final CSS Smartphones */
}

@media (min-width: 993px) {
  #produto1,
  #produto2,
  #produto3 {
    position: relative;
    height: 505px;
    padding: 150px 0;
  }
  #produto1 {
    background: url("../../assets/img/tablet1.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-color: var(--verde-escuro);
  }
  #produto2 {
    background: url("../../assets/img/tablet2.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    border-top: 2px solid var(--verde);
    border-bottom: 2px solid var(--verde);
    background-color: var(--verde-escuro);
  }
  #produto3 {
    background: url("../../assets/img/tablet3.png") no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-color: var(--verde-escuro);
  }
  /* Section Resultado */
  #resultado div.col-4 {
    color: var(--laranja-claro);
    height: 308px;
    margin-left: -3px;
  }
  #resultado span.plus {
    color: var(--laranja);
    font-size: 80px;
    font-family: OpenSansLight;
  }
  #resultado span.cont {
    color: var(--branca);
    font-size: 80px;
    font-family: OpenSansBold;
  }
  #resultado div.object {
    font-family: OpenSansLight;
    font-size: 28px;
    margin-top: -30px;
    margin-left: 50px;
  }
  .c-parallax {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .title {
    border-bottom: 2px solid var(--laranja-claro);
  }
}
