<section class="container-fluid p-0">
  <div class="video-player" style="position: relative" data-type="slider-item">
    <video autoplay loop id="bgvid">
      <source src="assets/media/home.webm" type="video/webm">
      <source src="assets/media/home.mp4" type="video/mp4">
      <div style="background: rgba(0,0,0,1); width: 100%; height: 100%; z-index:1"></div>
    </video>
    <div class="shadow">
      <div class="col-lg-8 col-lg-offset-2 align">
        <!-- <div class="col-lg-8 col-lg-offset-2" style="font-size: 22px; font-style: italic; line-height: 30px; letter-spacing: 1px;">
            Conheça as soluções da Wilivro e junte-se as organizações que já estão inovando a educação com o uso da tecnologia
          </div> -->
      </div>
    </div>
  </div>
</section>
