:root {
  --branca: #ffffff;
  --cinza-escuro: #1c303b;
  --laranja-claro: #e6b653;
  --laranja: #fdc00f;
  --laranja-escuro: #d7a30d;
  --verde: #46b29d;
  --verde-escuro: #3da490;
}


/*posição do video*/

#ct-video {
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 730px;
  z-index: -1;
}

#ct-video .container {
  height: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branca);
}

#ct-video .container h1 {
  font-family: GothamXLight;
  font-size: 78px;
}

#ct-video .container div p {
  font-family: GothamLight;
  font-size: 24px;
}

video#bg-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 190, 0, 0.35);
  top: 0;
  left: 0;
  z-index: -100;
}


/* Section Sobre */

#sobre h1 {
  color: var(--cinza-escuro);
}

#sobre p {
  font-family: OpenSansLight;
  font-size: 22px;
  color: var(--cinza-escuro);
}


/* section Produtos */

#produtos .container-fluid {
  background-color: var(--verde-escuro);
}

#bg1,
#bg2,
#bg3 {
  position: relative;
  height: 505px;
  padding: 150px 0;
}

#bg1 {
  background: url("../../assets/img/tablet1.png") no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: 100% 50%;
  background-color: var(--verde-escuro);
  ;
}

#bg2 {
  background: url("../../assets/img/tablet2.png") no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: 100% 50%;
  border-top: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  background-color: var(--verde-escuro);
}

#bg3 {
  background: url("../../assets/img/tablet3.png") no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: 100% 50%;
  background-color: var(--verde-escuro);
}

#produtos h4 {
  color: var(--laranja-claro);
  --laranja: #fdc00f;
  font-family: GothamBold;
}

#produtos p {
  font-family: OpenSansLight;
  font-size: 19px;
  font-weight: 100;
  color: var(--branca);
}

#produtos button {
  padding: 15px 50px;
  background-color: var(--laranja);
  border-bottom: 3px solid var(--laranja-escuro);
  color: var(--cinza-escuro);
  font-family: OpenSansBold;
  cursor: pointer;
}

#produtos button:hover {
  background-color: #f4b500;
  border-bottom: 3px solid var(--laranja);
}

.c-parallax {
  position: relative;
  box-sizing: border-box;
  transform-style: inherit;
}


/* Section Resultados */

#resultados {
  background: var(--cinza-escuro);
}

#resultados div.background {
  background: url("../../assets/img/criancas.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 450px;
}

#resultados div.col-4 {
  color: var(--laranja-claro);
  height: 308px;
  margin-left: -3px;
}

#resultados span.plus {
  color: var(--laranja);
  font-size: 80px;
  font-family: OpenSansLight;
}

#resultados span.cont {
  color: var(--branca);
  font-size: 80px;
  font-family: OpenSansBold;
}

#resultados div.object {
  font-family: OpenSansLight;
}

.title {
  font-family: GothamXLight;
  border-bottom: 2px solid var(--laranja-claro);
  color: var(--branca);
}

.espaco {
  height: 1000px;
}


/* CSS Smartphones */

@media screen and (max-width: 992px) {
  #ct-video {
    background: url("../../assets/img/mob.png") no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
  #bg-vid {
    display: none;
  }
  #ct-video .container h1 {
    text-align: center;
    font-family: GothamXLight;
    font-size: 50px;
  }
  #ct-video .container div p {
    font-family: GothamLight;
    font-size: 20px;
  }
  /* Final CSS Smartphones */
}
