<div id="ct-video">
  <video autoplay loop id="bg-vid">
    <source src="assets/media/home.mp4" type="video/mp4">
    <source src="assets/media/home.webm" type="video/webm">
  </video>
  <div class="shadow"></div>
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center ">
      <h1>Transforme a educação</h1>
      <p class="col-10 text-center">Conheça as soluções da Wilivro e junte-se as organizações que já estão inovando a educação com o uso da tecnologia</p>
    </div>
  </div>
</div>

<section id="sobre">
  <div class="container-fluid">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <h1 class="py-5 px-5">SOBRE</h1>
        <img class="my-4" src="assets/img/icons/sobre.png" alt="">
        <p class="col-10 text-center mb-5">
          Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a consulta aos diversos militantes acarreta um
          processo de reformulação e modernização dos níveis de motivação departamental. Uma vez que a consulta aos diversos
          militantes acarreta um processo de reformulação.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="produtos">

</section>
