@font-face {
  font-family: OpenSansBold;
  src: url(assets/font/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(assets/font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansLight;
  src: url(assets/font/OpenSans-Light.ttf);
}

@font-face {
  font-family: GothamLight;
  src: url(assets/font/Gotham-Light.otf);
}

@font-face {
  font-family: GothamXLight;
  src: url(assets/font/Gotham-XLight.otf);
}

@font-face {
  font-family: GothamBold;
  src: url(assets/font/Gotham-Bold.ttf);
}

:root {
  --branca: #ffffff;
  --cinza: #e7e6e3;
  --cinza-escuro: #1c303b;
  --laranja-claro: #e6b653;
  --laranja: #fdc00f;
  --laranja-escuro: #d7a30d;
  --verde: #46b29d;
  --verde-escuro: #3da490;
}

* {
  font-family: OpenSansBold, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, .2);
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(28, 48, 59);
}

.linear {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.d-inline-table {
  display: inline-table;
}
